.mysidebar
{
    background-color: white;
}

.mysidebar ul
{
    margin-left: 23%;
}
.mysidebar ul li a
{
    box-shadow: inset 0 0px rgba(0,0,0,0);
    color: #7843CA;
}
.mysidebar ul li a:hover
{
    text-decoration: none;
    background: #7843CA;
}

#mymainbuttonchange
{
    margin-left: -150px;
}

#st-container
{
    background-image: url('../images/4574.jpg');
}

#navclose
{
    position: absolute;
    top: 47.5%;
    left: 7%;
    font-size: 25px;
    color: #7843CA;
    transition: 0.3s;
}
#navclose:hover
{

    opacity: 0.8;
}

.clearfix
{
    position: fixed;
    top: 40%;
    
   
}

.clearfix .mybutton
{
  position: absolute;
    border: solid;
    border-color: #fff;
    height: 48px;
    width: 48px;
    left: 50px;
    transform: rotateZ(-45deg);
    background: #fff;
    transition: 0.4s;
    overflow: hidden;
}

.clearfix>.mybutton:hover
{
    background: transparent;
    
  
}

.clearfix .mybutton button:hover span
{
    color:#fff;
}

.clearfix .mybutton div
{
    position: relative;
   
   
    left: -45.5px;
    top: -6px;
}
.clearfix div button
{
  
    
    color: black;
    font-size: 22px;
    background: transparent;
    transform: rotateZ(45deg);
  
}

.clearfix div button span
{
    position: relative;
    
}
.st-content-inner
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
      
    width: 100%;
}

#myMainBody
{
    position: static;
    width: 100%;
    top: 0;
    left: 0;
/*    background: url(../images/4574.jpg);  */
}

#myNav
{
   
    
        width: 109.8%;
    /* padding-left: 0%; */
    margin-left: -4.9%;
    background: rgba(0,0,0,0.4);
    /* height: 60px; */
    margin-top: -4%;
}

#mainNav>ul>li>a
{
    color:#fff;
    transition: 0.2s;
}

#mainNav>ul>li>a:hover
{
    color:#2eb149;
}
#myMainBody>div>div
{
    border-radius: 0px;
}

.container-fluid 
{
    padding: 0px;
}
#B16
{
    margin-left: -2%;  
}